body {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #111;
}

#ba-content {
  margin: 0 auto;
  max-width: 1170px;
}

#ba-choices {
    float: left;
    width: 18%;
}

#ba-choices div {
    width: 100%;
}

.choice-title {
    margin-bottom: 1em;
    margin-top: 2em;
}

.choice-title:first-child {
  margin-top: 0;
}

.choice-group {
    margin-bottom: 1.5em;
}

.choice-group-title {
    font-weight: bold;
}

#ba-choices label {
    margin: 0.5em;
}

#bugs {
  float: left;
  font-size: 1.02em;
  margin-left: 3.5%;
  box-shadow: rgba(0,0,0,.2) 0 .15em 0.6em;
  border-radius: 4px 4px 0 0;
  width: 50%;
}

#ba-header {
      background-color: #DEF0F7;
      overflow: hidden;
      font-size: 1.1em;
      border: 1px solid #ccc;
      border-radius: 4px 4px 0 0;
      padding: 9px 14px;
      font-weight: bold;
}

div .bug {
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #CCC;
      line-height: 1.2em;
      padding-left: 14px;
}

a.diamond-bug {
  background-color: yellow;
}

.aside {
  float: right;
  margin-left: 3.5%;
  width: 25%;
}

#ba-extra {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ba-extra li {
  font-size: 1.02em;
  box-shadow: rgba(0,0,0,.2) 0 .15em 0.6em;
  border-radius: 4px 4px 0 0;
  text-align: center;
  display: none;
  margin-bottom: 2em;
  background: none;
  padding-left: 0px;
  width: 100%;
}

.ba-extra_header {
      background-color: #E4E4E4;
      overflow: hidden;
      font-size: 1.1em;
      border: 1px solid #ccc;
      border-radius: 4px 4px 0 0;
      padding: 9px 14px;
      font-weight: bold;
}

.ba-extra_body {
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #CCC;
      line-height: 1.2em;
      padding-left: 14px;
      padding-right: 14px;
}

#ba-footer {
    clear: both;
    float: right;
    font-family: Georgia, serif;
    font-size: 15px;
    margin-bottom: 20px;
}

#ba-footer a {
    color: black;
}

#ba-footer span {
    color: gray;
}

#ba-total-header {
   font-size: 2.5em;
   font-weight: bold;
   text-align: center;
   margin: 40px 0 30px 0;
   font-family: Helvetica, sans-serif;
}

#ba-total-header div {
    font-size: 0.5em;
    color: gray;
    font-family: Georgia, serif;
    font-weight: normal;
}

.simple-hint {
    background-color: #F7F7C0;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 9px 14px;
    display: none;
}

.simple-hint-text {
    float: left;
    font-size: 1.1em;
    line-height: 1.9em;
}

.simple-hint-buttons {
    float: right;
    white-space: nowrap;
}

.simple-hint-button {
    height: 1.9em:
}

.call-to-action {
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,.2) 0 .15em 0.6em;
    padding: 0.5em;
}
