body {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #111;
}

#ba-content {
    width: 100%;
/*  width: 70%;
  left: 500px;
top: 100px;*/
  /*margin-left: -35%;*/
  /*border: red solid 1px;*/
}

#ba-choices {
    float: left;
    /*border: green 1px solid;*/
}

#ba-choices div {
    width: 100%;
}

.choice-group {
    padding-bottom: 1.5em;
}

.choice-group div:first-of-type {
    font-weight: bold;
}

#ba-choices label {
    margin: 0.5em;
}

#bugs {
  float: left;
  width: 550px;
  font-size: 1.02em;
  margin-left: 5.2em;  
  box-shadow: rgba(0,0,0,.2) 0 .15em 0.6em;
  border-radius: 4px 4px 0 0;
}

#ba-header {
      background-color: #DEF0F7;
      overflow: hidden;
      font-size: 1.1em;
      border: 1px solid #ccc;
      border-radius: 4px 4px 0 0;
      padding: 9px 14px;
      font-weight: bold;
}

div .bug {
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #CCC;
      line-height: 1.2em;
      padding-left: 14px;
}

/*#help {
    background: #F9F9F9;
    border: 1px black dashed;
    width: 40%;
    float: right;
    padding: 8px;
    display: none;   
}*/

a.diamond-bug {
  background-color: yellow;
}

#ba-extra {
    list-style-type: none;
    margin-top: 0;
}

#ba-extra li {
  float:left;
  font-size: 1.02em;
  margin-left: 5.2em;  
  box-shadow: rgba(0,0,0,.2) 0 .15em 0.6em;
  border-radius: 4px 4px 0 0;
  text-align: center;
  width: 25%;
  display: none;
  margin-bottom: 2em;
  background: none;
  padding-left: 0px;
}

.ba-twitter {
      float: left;
      width: 25%;
      margin-left: 5.2em;
}

.ba-extra_header {
      background-color: #E4E4E4;
      overflow: hidden;
      font-size: 1.1em;
      border: 1px solid #ccc;
      border-radius: 4px 4px 0 0;
      padding: 9px 14px;
      font-weight: bold;
}

.ba-extra_body {
      padding-bottom: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #CCC;
      line-height: 1.2em;
      padding-left: 14px;
      padding-right: 14px;
}

#ba-footer {
    clear: both;
    float: right;
    font-family: Georgia, serif;
    font-size: 15px;
    margin-bottom: 20px;
}

#ba-footer a {
    color: black;
}

#ba-footer span {
    color: gray;
}

#ba-total-header {
   font-size: 2.5em;
   font-weight: bold;
   text-align: center;
   margin: 40px 0 30px 0;
   font-family: Helvetica, sans-serif;
}

#ba-total-header div {
    font-size: 0.5em;
    color: gray;
    font-family: Georgia, serif;
    font-weight: normal;
}

#simple-hint {
    background-color: #F7F7C0;
    overflow: hidden;
    font-size: 1.1em;
    border: 1px solid #ccc;
    padding: 9px 14px;
    display: none;
}

#simple-hint input {
    float: right;
}
